---
import NavItem from "./NavItem.astro";
---

<picture><img src="" alt="" />Hola</picture>

<nav class="flex gap-x-6">
  <NavItem title="Home" href="#" />
  <NavItem title="New" href="#" />
  <NavItem title="Popular" href="#" />
  <NavItem title="Trending" href="#" />
  <NavItem title="Categories" href="#" />
</nav>
