---
import NavItem from "./NavItem.astro";
import Logo from "../Icons/Logo.astro"
---

<Logo />

<nav class="flex gap-x-6">
  <NavItem title="Home" href="#" />
  <NavItem title="New" href="#" />
  <NavItem title="Popular" href="#" />
  <NavItem title="Trending" href="#" />
  <NavItem title="Categories" href="#" />
</nav>
