---
import Card from "./Card.astro";
---

<div class="flex mt-12">
  <Card num="01" title="Reviving Retro PCs" text="Lorem ipsum dolor sit amet consectetur adipisicing elit." img="/assets/images/image-retro-pcs.jpg"/>
  <Card num="02" title="Top 10 Laptops of 2022" text="Lorem ipsum dolor sit amet consectetur adipisicing elit." img="/assets/images/image-top-laptops.jpg"/>
  <Card num="03" title="The Growth of Gaming" text="Lorem ipsum dolor sit amet consectetur adipisicing elit." img="/assets/images/image-gaming-growth.jpg"/>
</div>
